{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>대한민국 인구 지도</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/carto/pop" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="item">항목</label></td>
                        <td>
                            <select class="custom-select" id="item" name="item">
                                {% for item in ['인구수계','소멸위기지역','소멸비율','여성비','2030여성비'] %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}