<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d85d1258d4a74c118967c20932ce4f28 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d85d1258d4a74c118967c20932ce4f28" ></div>
        
</body>
<script>    
    
            var map_d85d1258d4a74c118967c20932ce4f28 = L.map(
                "map_d85d1258d4a74c118967c20932ce4f28",
                {
                    center: [37.458159316666666, 127.04089903333333],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b418515fc2a942bdb8f20eb9c443d6c7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            var circle_marker_f9093223f9db414db3d93a77c8d22bee = L.circleMarker(
                [37.471225, 127.035042],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_f9093223f9db414db3d93a77c8d22bee.bindTooltip(
                `<div>
                     양재시민의숲(258991㎡)
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9613e5e446e340cc87accbf2e5a0e32c = L.circleMarker(
                [37.467654, 127.030517],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_9613e5e446e340cc87accbf2e5a0e32c.bindTooltip(
                `<div>
                     문화예술공원(74385㎡)
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_67c4c90aba9b443881fe2d31dbaade7b = L.circleMarker(
                [37.4224347, 127.0424726],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 21, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_67c4c90aba9b443881fe2d31dbaade7b.bindTooltip(
                `<div>
                     청계산도시자연공원(3692455㎡)
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1313562d537e496ba7b76a0a403df31b = L.circleMarker(
                [37.4482109, 127.0666632],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 21, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_1313562d537e496ba7b76a0a403df31b.bindTooltip(
                `<div>
                     인능산도시자연공원(2400833㎡)
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_aacbc6913bdd410f9eb578284c9a4319 = L.circleMarker(
                [37.4689473, 127.061567],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 21, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_aacbc6913bdd410f9eb578284c9a4319.bindTooltip(
                `<div>
                     구룡산(2752421㎡)
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9d577c934fe4449b90024de0995b866e = L.circleMarker(
                [37.470484, 127.0091324],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 21, "stroke": true, "weight": 3}
            ).addTo(map_d85d1258d4a74c118967c20932ce4f28);
        
    
            circle_marker_9d577c934fe4449b90024de0995b866e.bindTooltip(
                `<div>
                     우면산도시자연공원(4180551㎡)
                 </div>`,
                {"sticky": true}
            );
        
</script>